*
{
		padding:0px;
		margin:0px;
		font-family:sans-serif;
		font-weight:bold;
}
header
{
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('photo/DEO.jpg');
	height:100%;
	background-size:cover;
	background-position:center;
	
}
.cmd6
{
	float:right;
}
.head
{
	border-radius:2px;
	padding-left: 10px;
	font-size:25px;
	text-align:center;
	color:#999999;
}
.mind
{
	height:400px;
}
.logo img
{
	float:left;
	height:50px;
	width:80px;
    justify-content: center;
	padding-top:10px;
}
.heading
{
	text-align:center;
	color:#999999; 
}
.heading:hover
{
	color:#0486FF;
}

ul
{
	float:right;
	list-style-type:none;
	margin-top:8px;
	padding-top:10px;
}
ul li
{
	display:inline-block;
}
ul li a
{
	color:white;
	text-decoration:none;
	padding:3px 5px 3px 5px;
	border:1px solid transparent;
	border-radius:3px;
	transition:1.0s ease;
	font-size:15px;
}
ul li a:hover
{
	color:black;
	background-color:white;
}
.edupic
{
	background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('photo/comp1.jpg');
	height:300px;
	background-size:cover;
	background-position:center;
}
.edupic:hover
{
	border:4px solid #EEEEEF;
	border-right:3px solid grey;
}

.fot
{
	font-size:13px;
	text-align: center;
	line-height:30px;
	padding-top:10px;
}
.foot
{
	background-color:#777179;
	color:#FEFDFE;
	background:flex;
	background-size:cover;
	background-position:center;
}
.item active
{
	background-size:cover;
	background-position:center;
	justify-content: center;
}
.col-lg-12 {
    width: 100%;
	text-align:center;
	font-family:sans-serif;
	color: #999999;
}
.h2
{
	
	margin-bottom: 0;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height:1;
	font-size:30px;
	text-align:justify;
}
.color
{
	color:#999999;
}
.color:hover
{
	color:#0486FF;
}
.head:hover
{
	color:#0486FF;
}
.par
{
	text-align:justify;
	font-family:sans-serif;
	color: #999999;
	margin:0px 10px;
	margin-bottom:5px;
}
.sp1
{
	font-weight:bold;
	color:orange;
}
.sp
{
	color:orange;
	font-weight:bold;
}
.spn
{
	color:#999999;
	font-weight:bold;
}
.secimg
{
	height:150px;
	width:100%;
	border-radius:5px;
	display: block;
	position: relative;
	background-size:cover;
	background-position:center;
}
.rcol
{
	border:1px solid #EEEEEF;
	border-radius:10px;
}
.rcol:hover
{
	border:4px solid #EEEEEF;
}
	
